---
import Layout from '../../layouts/Dashboard/Layout.astro';

---

<Layout title="Selamat datang di Dahsboard" menuActive="dashboard">
<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Dashboard</h1>
      </div>

      <div class="section-body">
      </div>
    </section>
  </div>
</Layout>