---
import Layout from '../../layouts/Dashboard/Layout.astro';

---
<Layout title="Sessions" menuActive="sessions">
    <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Sessions</h1>
          </div>
    
          <div class="section-body">
          </div>
        </section>
      </div>
</Layout>